# Ignore all emacs backup files
*~

# Ignore system-specific files and directories
/auto-save-list/
/backup/
/bookmarks.bmk
/desktop/*
/eshell/*
/history
/server/
/tramp
/geben/
/erc/*
/lisp/__nxhtml__
/image-dired/
/url
/network-security.data
/edit-server/*

session.*
my-lisp/my-local.backup

# my-lisp/*.elc is byte-compiled automatically upon git merge
/my-lisp/*.elc
