/docs/*.html
/docs/*.pdf
/docs/.revdesc
/docs/stats/
/lisp/*-autoloads.el
/lisp/*-pkg.el

/docs/magit/
/docs/magit-section/
/lisp/magit-version.el

/docs/*.epub
/docs/META-INF/
/docs/OEBPS/
/docs/epub.xml
/docs/mimetype

*~
/*.tar
/*.tar.gz

/.elpaignore
/.github
/.mailmap
